.testimonialsContainer{
  background-color: #F2F5FF;
}
.evenBg{
  background: #249D64 !important;
  color: white;
}
.testimonialCont .euKzJn{
  position: relative !important;
  width: 100%;
}
.testimonialCont .iTQUKr{
  max-width: 24rem !important;
  min-width: 15rem !important;
}

.aoTUt{
  right: -1.5rem !important;
}
.dHQcjo{
  left: -1.5rem !important;
}
